monitoringPasscode: test123

nodeSelector:
  kubernetes.io/os: linux

community:
  enabled: true
  buildNumber: "26.1.0.118079"

postgresql:
  persistence:
    enabled: true
    existingClaim: data-sonarqube-postgresql-0
    size: 5Gi
  primary:
    replicas: 0
    nodeSelector:
      kubernetes.io/os: linux

plugins:
  install:
    - https://github.com/fabiogermann/sonarqube-community-branch-plugin/releases/download/26.1.1/sonarqube-community-branch-plugin-26.1.1.jar
    - https://github.com/dependency-check/dependency-check-sonar-plugin/releases/download/6.0.0/sonar-dependency-check-plugin-6.0.0.jar
    - https://github.com/SimformSolutionsPvtLtd/sonar-flutter/releases/download/v0.0.5/sonar-flutter-plugin-0.0.5.jar

sonarProperties:
  sonar.web.javaAdditionalOpts: "-javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-26.1.1.jar=web"
  sonar.ce.javaAdditionalOpts: "-javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-26.1.1.jar=ce"

extraVolumes:
  - name: webapp
    emptyDir:
      sizeLimit: 50Mi
extraVolumeMounts:
  - name: webapp
    mountPath: /opt/sonarqube/web
extraInitContainers:
  - name: download-webapp
    image: busybox:1.37
    volumeMounts:
      - name: webapp
        mountPath: /web
    command:
      - sh
      - -c
      - wget -O /tmp/sonarqube-webapp.zip https://github.com/fabiogermann/sonarqube-community-branch-plugin/releases/download/26.1.1/sonarqube-webapp.zip &&
        unzip -o /tmp/sonarqube-webapp.zip -d /web &&
        chmod -R 755 /web &&
        chown -R 1000:0 /web &&
        rm -f /tmp/sonarqube-webapp.zip
